* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Serif', serif;
}

body {
    background-color: #222823;
    margin: 0;
    padding: 0;
}

/* --- NAVBAR STYLING--- */
header {
    font-family: 'Inria serif', serif;
    background-color: #222823;
    padding: 20px 20px;
    color: #f5f5f5;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

nav a {
    color: #f5f5f5;
    font-family: Inria serif;
    padding: 20px 20px;
    font-size: 20px;
}

header h1 {
    font-size: 26px;
    padding-left: 20px;
}

/* ---FIGURE SECTION STYLING--- */

.fullwidthFigure {
    background-color: #d9d9d9;
}

.fullwidthFigure h2 {
    display: flex;
    float: right;
    align-items: flex-end;
    padding-right: 30px;
    padding-top: 45px;
    font-size: 90px;
    color: #FFF;
    font-style: italic;
    text-align: right;

}

.fullwidthFigure .about-img img {
    width: 210px;
    max-width: 50%;
    border-radius: 25%;
    margin: 30px;
    margin-left: 40px;
}

/* ---ABOUT ME SECTION STYLING--- */

#about-me {
    margin-top: 80px;
}

#about-me h2 {
    margin: 30px;
    text-align: center;
    font-size: 30px;
    color: #FFF;
}

#about-me p {
    font-size: 19px;
    color: #FFF;
    text-align: center;
    justify-content: flex-start;
    line-height: 30px;
    margin: 0 40px;
}

/* ---WORK SECTION STYLING--- */

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    grid-template-rows: 1000px 450px 450px;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}

.projects figure {
    position: relative;
    transition: all 0.5s;
}

.projects figure:hover {
    transform: scale(1.03);
}

.projects figure div {
    position: absolute;
    bottom: 30px;
    background: rgba(217, 217, 217, 0.80);
    padding: 10px;
    padding-right: 20px;
    color: black;
    font-size: 20px;
}

.projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid black;
}

.big-image {
    grid-column: span 2;
}

.big-image a {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("assets/images/HoriseonMarketing.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

section.work {
    text-align: center;
    font-size: 20px;
    color: #FFF;
    margin: 40px 0;
}

/* ---CONTACT SECTION STYLING--- */

.contact-container {
    background-color: #D9D9D9;
    width: 100% !important;
    margin-top: 50px;
    padding-bottom: 50px;
}

.contact-container h2 {
    font-size: 60px;
    padding: 25px;

}

.contacts {
    display: grid;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 26px;

}

#email {
    border-bottom: 1px solid black;
    padding: 13px;
}

#linked-in {
    border-bottom: 1px solid black;
    padding: 13px;

}

#website {
    border-bottom: 1px solid black;
    padding: 13px;
}

#email-link {
    font-size: 20px;
    list-style-type: none;
    color: black;
    opacity: 50%;
    font-weight: 700;
}

#linkedin-link {
    font-size: 20px;
    list-style-type: none;
    color: black;
    opacity: 50%;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;

}

#website-link {
    font-size: 20px;
    list-style-type: none;
    color: black;
    opacity: 50%;
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
}


/* ---MEDIA QUERIES--- */

@media screen and (max-width: 1000px) {
    .fullwidthFigure h2 {
        font-size: 60px;
    }

    .projects {
        grid-template-columns: 1fr;
        grid-template-rows: 600px repeat(4, 300px);
    }

    .big-image {
        grid-column: span 1;

    }

    .contact-container h2 {
        font-size: 50px;
        padding: 25px;
    }

    .contacts h3 {
        display: flex;
        flex-direction: column;
    }

}


@media screen and (max-width: 743px) {
    .fullwidthFigure .about-img img {
        width: 140px;
    }
}

@media screen and (max-width: 675px) {
    .projects {
        grid-template-columns: 1fr;
        grid-template-rows: 300px repeat(4, 300px);
    }

    .fullwidthFigure {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .fullwidthFigure .about-img img {
        order: -1;
    } 

    .fullwidthFigure h2 {
        font-size: 30px;
        padding-top: 0;
        margin-left: 5%;
    }
    #about-me h2 {
        font-size: 20px;
        margin: 5px;
        margin-top: 0;
    }
    #about-me p {
        font-size: 16px;
    }

    section.work {
        font-size: 14px;
        margin: 20px;
    }
}

@media screen and (max-width: 488px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    nav a {
        padding: 10px 10px;
        font-size: 14px;
    }

    .fullwidthFigure .about-img img {
        width: 45%;
        margin: 0;
    }

    .fullwidthFigure h2 {
        font-size: 20px;
        width: 60%;
        display: flex;
        justify-content: flex-end;
    }

    .fullwidthFigure .about-img {
        display: flex;
        width: 40%;
        padding: 20px 0;
        padding-left: 15px;
    }

    #about-me h2 {
        font-size: 16px;
        margin: 5px;
        margin-top: 0;
    }
    #about-me p {
        font-size: 12px;
    }

    section.work {
        font-size: 10px;
        margin: 20px;
    }
    .contact-container h2 {
        font-size: 40px;
    }

    #email {
        font-size: 18px;
    }

    #linked-in {
        font-size: 18px;
    }

    #website {
        font-size: 18px;

    }

    #email-link {
        font-size: 16px;
    }

    #linkedin-link {
        font-size: 16px;
    }

    #website-link {
        font-size: 16px;
    }

}

